<div class="contents_registration-new">

  <div class="user-form">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="user-inform">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label "おなまえ" %><br />
          <%= f.text_field :name, autofocus: true, maxlength: "6", size: 20 %>
        </div>

        <div class="field">
          <%= f.label "現在の体重" %><br />
          <%= f.number_field :start_weight, step: "0.1", min: 0, max: 999 %> Kg
        </div>

        <div class="field">
          <%= f.label "目標体重" %><br />
          <%= f.number_field :target_weight, step: "0.1", min: 0, max: 999 %> Kg
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
    
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
  <div class="user-links">
    <%= render "devise/shared/links" %>
  </div>
</div>