<div class="contents_topic-index">
  <div class="topic_menu">
    <ul class="topic_icons">
      <li>
        <%= link_to new_topic_path do %>
          <i class="far fa-comment-dots fa-2x"></i>
        <% end %>
      </li>
      <li class="topic-search-icon">
        <i class="fas fa-search-plus fa-2x"></i>
      </li>
      <li>
        <%= link_to user_path(current_user.id) do %>
          <i class="fas fa-heart fa-2x topic-heart-icon"></i>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="topic-search">
    <%= form_with(url: search_topics_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "TOPICSを検索する", class: "search-input", id: "topic-search-input" %>
      <%= form.submit "検索", class: "search-btn", id: "topic-search-btn" %>
    <% end %>
  </div>

  <div class="topics">
    <% if @topics.length === 0 %>
      <div class="topic-search-result">
        " <%= @keyword %> "にヒットする記事はありませんでした。
      </div>
    <% else %>
      <div class="topic-search-result">
        <%= @topics.length %>件ヒットしました。
      </div>
      <% @topics.each do |topic| %>
        <%= render partial: "topic", locals: { topic: topic } %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $('.topic-search-icon').click(function() {
        $('.topic-search').toggle();
    })
</script>
