 <div class="form-date">
  <%= form.label "日付"%>
  <%= form.date_select :recorded_date, default: Date.today %>
</div>
<div class="form-weight">
  <%= form.label "体重", {class: 'weight-label'} %>
  <%= form.number_field :weight, step: "0.1", min: 0, max: 999, placeholder: "Kg" %>
</div>
<div class="form-btn">
  <%= form.submit "送信" %>
</div>