<div class="contents_weight-index">  
  <div class="record-icon js-modal-open">
    <i class="fas fa-weight fa-2x"></i>
  </div>

  <div class="modal js-modal">
      <div class="modal__bg js-modal-close"></div>
      <div class="modal__content">
          
        <div class="redord-contents">
          <div class="weight-form">
            <%= form_with model:@weight, local: true  do |form| %>
              <%= render partial: "form", locals: { form: form } %>
            <% end %>
          </div>
        </div>
          <div class="modal-close-btn">
            <a class="js-modal-close" href="">閉じる</a>
          </div>
      </div><!--modal__inner-->
  </div><!--modal-->

  <div class="contents_weight-main">
    <div class="weight-grah">
      <canvas id="myChart" width="400" height="400"></canvas>
        <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: <%= @dates.to_json.html_safe %>,
                datasets: [{
                    label: '# of Weights',
                    data: <%= @weights %>,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
              scales: {
                yAxes: [{
                  id: 'y左軸',
                    ticks: {
                      stepSize: 5,
                      min: <%= (@user.target_weight / 10).floor %> * 10
                    }
                }],
                xAxes: [{
                  id: 'X軸', 
                }],
              },
              annotation: {
                drawTime: 'afterDatasetsDraw',
                annotations: [{
                  id: 'hline',
                  type: 'line',
                  mode: 'horizontal',
                  scaleID: 'y左軸',
                  value: <%= @user.target_weight %>,
                  borderColor: 'red',
                  borderWidth: 2,
                  label: {
                    backgroundColor: 'red',
                    content: '目標体重 <%= @user.target_weight %>kg',
                    enabled: true
                  }
                }]
              }
            }
        });
        </script>
    </div>

    <div class="weight-table">
      <table>
        <tr>
          <th>Date</th><th>Weight</th><th>Edit</th>
        </tr>
        <% @user_datas.each do |d| %>
        <tr>
          <td><%= d.recorded_date.strftime('%Y-%m-%d') %></td>
          <td><%= d.weight %> kg</td>
          <td>
            <%= link_to '編集', edit_weight_path(id: d.id), {class: "weight-edit"} %>/
            <%= link_to('削除', weight_path(id: d.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "weight-edit") %>
          </td>
        </tr>
        <% end %>
      </table>        
    </div>
  </div>
  </div>
</div>  