<!DOCTYPE html>
<html>
  <head>
    <title>DietApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <header class="header">
      <div class="header__bar row">
        
        <div class="user_nav grid-6">
          <%= link_to 'Top', users_path %>          
        </div>
        <div class="user_nav grid-6">
          <%= link_to 'Record', new_user_registration_path %>
        </div>
        <div class="user_nav grid-6">
          <%= link_to 'Diary', new_user_registration_path %>
        </div>
        <div class="user_nav grid-6">
          <%= link_to 'Chat', new_user_registration_path %>
        </div>
        <div class="user_nav grid-6">
          <a class="post logout" href="/tweets/new">Logout</a>
          add-userにて変更
        </div>

      </div>
    </header>

    <%= yield %>
  </body>
</html>
