<!DOCTYPE html>
<html>
  <head>
    <title>DietApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c1f80ad41b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
 
  </head>

  <body>

    <%= render partial: 'layouts/flash' %>

    <header class="header">
      <div class="header__title">
        <%= link_to 'Healet', root_path %> 
      </div>
      <div class="header__bar row">
        <div class="header__logo row">
            <h1>There is no lasting glory in rapid weight loss.
            </h1>
          </div>
        <ul class="header__contents">
          <li class="user_nav grid-6">
            <%= link_to 'TOP', users_path %>        
          </li>
          <li class="user_nav grid-6">
            <%= link_to 'RECORD', weights_path %>
          </li>
          <li class="user_nav grid-6">
            <%= link_to 'DIARY', meals_path %>
          </li>
          <li class="user_nav grid-6">
            <%= link_to 'TOPICS', topics_path %>
          </li>
          <% if user_signed_in? %>
            <div class="user_nav grid-6">
              <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
            </div>
          <% end %>
          <% unless user_signed_in? %>
            <div class="user_nav grid-6">
              <%= link_to '簡単ログイン(閲覧用)', users_guest_sign_in_path, method: :post %>
            </div>
          <% end %>
        </ul>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
